*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0cc0df;
}        

        .login-container{
            width: 420px;
            padding: 30px 40px;
            background: transparent;
            border: 2px solid rgba(255, 255, 255, .2);
            backdrop-filter: blur(20px);
            box-shadow: 0 0 10px rgba (0, 0, 0, .2);
            border-radius: 20px;
        }

        .login-container h1{
            font-size: 50px;
            color: #c1ff72;
            text-align: center;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .login-container .input-box{
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;
            
        }

        .input-box input{
            color: white;
            width: 100%;
            height: 100%;
            background: transparent;
            border: 2px solid white;
            outline: none;
            font-size: 16px;
            border-radius: 40px;
            padding: 20px;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .input-box input::placeholder{
            color: white;
        }

        .input-box i{
            color: white;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }

        .login-container .btn{
            background-color: #c1ff72;
            color: #26017c;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            width: 100%;
            margin: 10px 0 10px;
            height: 45px;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba (0, 0, 0, 1);
            cursor: pointer;
            font-size: 30px;
            font-weight: 600;
        }

        .login-container .register-link{
            color: #c1ff72;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
        }

        .register-link p a {
            text-decoration: none;
            font-weight: 600;
            color: white;
        }

        .register-link p a:hover{
            color: #26017c;
            text-decoration: underline;
        }

#errorMessage {
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-top: 10px;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}