*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0cc0df;
}        

        .login-container{
            width: 420px;
            padding: 30px 40px;
            background: transparent;
            backdrop-filter: blur(20px);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            border-radius: 20px;
        }

        .login-container h1{
            font-size: 50px;
            color: #c1ff72;
            text-align: center;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .login-container .input-box{
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;
            
        }

        .input-box input{
            color: white;
            width: 100%;
            height: 100%;
            background: transparent;
            border: 2px solid white;
            outline: none;
            font-size: 16px;
            border-radius: 40px;
            padding: 20px;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .input-box input::placeholder{
            color: white;
        }

        .input-box i{
            color: white;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }

        .login-container .btn{
            position: relative;
            display: inline-block;
            background-color: #c1ff72;
            color: #26017c;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            width: 100%;
            margin: 10px 0 10px;
            height: 45px;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
            cursor: pointer;
            font-size: 30px;
            font-weight: 600;
            z-index: 1;
        }

        .login-container .btn:before{
            transition: 0.5s ease;
            position: absolute;
            top: 0;
            left: 50%;
            right: 50%;
            bottom: 0;
            opacity: 0;
            content: "";
            background-color: #26017c;
            z-index: -1;
        }

        .login-container .btn:hover, .btn:focus{
            color: #c1ff72;
        }

        .login-container .btn:hover:before, .btn:focus:before{
            transition: 0.5s all ease;
            left: 0;
            right: 0;
            opacity: 1;
            border-radius: 40px;
        }

        .login-container .btn:active{
            transform: scale(0.10);
        }


        .login-container .register-link{
            color: #c1ff72;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
        }

        .register-link p a {
            text-decoration: none;
            font-weight: 600;
            color: white;
        }

        .register-link p a:hover{
            color: #26017c;
            text-decoration: underline;
        }

#errorMessage {
    font-size: 20px;
    background-color: red;
    color: white;
    border-radius: 15px;
    border: none;
    outline: none;
    margin-top: 10px;
    text-align: center;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (max-width: 576px){
    .login-container{
        width: 350px;
        padding: 25px 35px;
    }
}